@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Francois+One&family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Press+Start+2P&family=Special+Elite&family=VT323&display=swap');
@font-face {
    font-family: 'Milky';
    src: url('MilkyRegular.woff2') format('woff2'),
        url('MilkyRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OMORI_GAME2';
    src: url('OMORI_GAME2.woff2') format('woff2'),
        url('OMORI_GAME2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@media only screen and (min-width: 768px) {
  body {
    background-image: url("background3.png");
    background-size:cover;
    background-repeat:no-repeat;
    position: fixed;
  }


  .div1 {
    text-align:center;
    margin-top:50px;
    margin-left:600px;
    margin-right:580px;
    border-style: inset;
    border-width: 5px;
    border-color: purple;
    box-sizing:border-box;
  }

  .me3 {
    width:300px;

  }

  img {
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;
  }
  img:hover {
    font-family: 'Special Elite';
    color:white;
    font-size: 40px;
    transform:scale(1.05);

  }
  iframe:hover {
    font-family: 'Special Elite';
    color:white;
    font-size: 40px;
    transform:scale(1.05);

    transform:skewX(20px);
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url("background3.png");
    background-size:contain;
  }


  .div1 {
    text-align:center;
    margin-top:50px;
    margin-left:120px;
    margin-right:580px;

  }

  .me3 {
    width:150px;

  }

  img {
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;
  }
  img:hover {
    font-family: 'Special Elite';
    color:white;
    font-size: 40px;
    transform:scale(1.05);

  }
  iframe:hover {
    font-family: 'Special Elite';
    color:white;
    font-size: 40px;
    transform:scale(1.05);

    transform:skewX(20px);
  }

}
